<!-- 

<div fxLayout="row" fxFlexFill>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div fxLayout="row" fxFlexFill>
        <app-notification-list fxFlex ="30"></app-notification-list>
        <app-notification-list fxFlex="30"></app-notification-list> 
        -->
        <!--<app-notification-editor fxFlex="70"></app-notification-editor> -->
        <!--
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

-->

<router-outlet></router-outlet>
